body{
	color:#40514E;
	margin:0;
	text-align:center;
	font-family:'merriweather',serif;
}
h1{
	
	font-size:5.0rem;
	position:relative;
	right:10%;
	color: #66BFBF;
	margin:50px auto 0 auto;
	width:10%;
	
	font-family: 'Sacramento', cursive;
		
}
.hello{
	color:#11999E;
}
.get{
	color:#11999E;
}
h2{
	color: #66BFBF;
	font-weight:normal;
	font-size:50px;
	padding:10px; 
}

.Top-container{
	background-color:#eaf6f6;
	position:relative;
	padding-top:100px;
}
.middle-container{
	margin:100px 0;
		
}
hr{
	width:10%;
	border-style:none;
    border-top-style:dotted;	
	border-color:grey;
	border-width:5px;
	
}

.bio{
	width:30%;
	margin:100px auto;
	
}
.btn{
	font-size:30px;
}


.bottom-container{
	background-color: #66bfbf;
	padding:50px 0 20px;
	
}
a{
	color:#11999E;
	font-family: 'montserrat', sans-serif;
	margin:10px 20px;
	text-decoration:none;
}
a:hover{
	color:#eaf6f6;	
}

.top-cloud{
	position:absolute;
	right:300px;
	top:40px;
}
.bottom-cloud{
	position:relative;
	bottom:350px;
	
}
p{
	line-height:2;
	font-family: 'Roboto Mono', monospace;
}
.pro{
}
.nope{
	
	width:25%;
	float:left;
}
.skill-row{
	width:50%;
	margin:100px auto 100px auto;
	text-align:left;
	
	
}
.nope{
	width:30%;
	position:relative;
	top:7px;
	float:left;
	margin:30px;
}
.sports{
padding:40px;
}
.skillss{
	color:#11999E;
}

.sportsa{
	width:30%;
	float:right;
	margin:30px;
	display:inline-block;
	
}
.profile{
	
	width:20%;
}
h3{
	padding:30px;
	color:#11999E;
	font-size:35px;
}
.copyright{
	color:#eaf6f6;
	font-size:0.75rem;
	padding:20px 0;
	
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
